/* Write your CSS code here */

.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* border: 4px solid blue; */
  margin: 0;
  height: 100vh;
  font-family: 'Roboto';
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 0;
}

@media (min-width: 992px) {
  .login-form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* border: 4px solid blue; */
    margin: 0;
    height: 100vh;
    font-family: 'Roboto';
  }
}

.login-image-container {
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}
.login-image {
  height: 220px;
  width: 100%;
  /* border: 2px solid green; */
}
@media (min-width: 992px) {
  .login-image-container {
    /* border: 5px solid black; */
    /* width: 40%; */
    padding: 10px;
    margin: 0px;
    width: 55%;
  }
  .login-image {
    height: 300px;
    width: 70%;
    /* border: 2px solid green; */
    margin: 0;
  }
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
  width: 100%;
  border-radius: 12px;
  /* box-shadow: 0px 4px 16px 0px #bfbfbf; */
}
@media (min-width: 992px) {
  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    width: 25%;
    padding-top: 70px;
    padding-bottom: 70px;
    box-shadow: 0px 4px 16px 0px #bfbfbf;
    border-radius: 12px;
  }
}

.website-logo-sm {
  height: 53px;
  width: 220px;
  margin-bottom: 40px;
}
.website-logo-lg {
  display: none;
}

@media (min-width: 992px) {
  .website-logo-lg {
    height: 45px;
    width: 195px;
    display: flex;
  }
  .website-logo-sm {
    display: none;
  }
}

.input-field-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* padding: 0; */
  /* border: 2px solid green; */
  margin-top: 3px;
}
@media (min-width: 992px) {
  .input-field-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* padding: 0; */
    /* border: 2px solid green; */
    margin: 0;
  }
}

.label-text {
  color: #475569;
  font-size: 17px;
  font-weight: bold;
  margin-top: 20px;
}
.input-text {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: 18px;
  border-radius: 4px;
  background-color: #e2e8f0;
  border: 0;
  width: 89%;
  margin-top: 8px;
  outline: none;
  cursor: pointer;
}
@media (min-width: 992px) {
  .label-text {
    color: #475569;
    font-size: 13px;
    font-weight: bold;
    margin-top: 20px;
  }
  .input-text {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 15px;
    border-radius: 4px;
    background-color: #e2e8f0;
    border: 0;
    width: 86%;
    margin-top: 6px;
    outline: none;
    cursor: pointer;
  }
}

.login-button {
  color: #ffffff;
  background-color: #0b69ff;
  border-radius: 12px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 500;
  font-family: 'Roboto';
  font-size: 18px;
  width: 100%;
  margin-top: 25px;
  border: 0px;
  outline: none;
  cursor: pointer;
}
@media (min-width: 992px) {
  .login-button {
    color: #ffffff;
    background-color: #0b69ff;
    border-radius: 9px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-weight: 500;
    font-family: 'Roboto';
    font-size: 14px;
    width: 100%;
    margin-top: 20px;
    border: 0px;
    outline: none;
    cursor: pointer;
  }
}
.form-container {
  /* border: 2px solid black; */
  width: 100%;
}
@media (min-width: 992px) {
  .form-container {
    /* border: 2px solid black; */
    width: 75%;
  }
}

.show-error {
  margin-top: 6px;
  color: #ff0b37;
}
@media (min-width: 768px) {
  .show-error {
    margin-top: 6px;
    color: #ff0b37;
    font-size: 13px;
  }
}
.no-error {
  display: none;
}
